<div class="bc">
    @{
        ViewBag.Title = "Banner";
    }

    <br/>
    <div class="namecard-button">
        <a href="Banner">
            <img src="/Myndir/logo.jpg" class="name-logo" alt="name-logo" />
               
               </a>
        <div class="my-name">
            @Html.ActionLink(@Html.ViewContext.HttpContext.User.Identity.Name, "OwnNameCard", "NameCards")
        </div>

        <input type="button" name="logout" value="Log Out" class="logout-button"/>
    </div>

    <br/>


    <div class="overflowceeper">
        <div class="feed-body">
            <!-- <div id="result">
                 "at"Ajax.ActionLink(
                 "load partial view",
                 "Load",
                 "Home",
                 new AjaxOptions { UpdateTargetId = "result" })
             <br/>-->
            <iframe src="~/NameCards/OwnNameCard"></iframe>
            <!--"att"{Html.RenderPartial("att""~/NameCards/OwnNameCard");}-->   
            <!--Html.Partial("~/Views/NAmeCards/OwnNameCard.cshtml")-->
        </div>
   </div>

    <br/>
 
</div>