@model SozialWebApplication.Models.ViewModels.NameCardViewModel

<div class="match-label">
    <h4 class="my-matches-label">My Matches</h4>
</div>

<div class=" my-groups">
    <ul>
        @foreach (var item in Model.AllMatches)
        {    
            <li>@item.UserName</li>
        }
    </ul>
</div>