@{/*model SozialWebApplication.ViewModel.GroupViewModel*/}
@model SozialWebApplication.ViewModel.GroupViewModel 

@{
    //ViewBag.Title = "PostGroup";
}
<h2>@Model.Group.GroupName</h2>

<p>@Model.</p>
