
@using (Html.BeginForm("NewsFeed", "Home"))
{
    <div class="newsfeed">
        <p>Group name</p>

        <div class="post">
            <div class="post-img">
                <input type="button" class="input-text" />
                <input type="button" class="input-img" />
                <input type="button" class="input-youtube" />
            </div>

            <input type="text" name="post-input" id="post-input" class="post-input" placeholder="Post ..." />
        </div>
    </div>
    <input type="submit" value="Post" class="post-submit" />
}

<div class="all-posts">
    <p class="post-name">Name</p>
    <p class="post-date">Date Created</p>

    <div class="each-post">
        <div class="post-content">

        </div>

        <div class="like">
            <input type="button" class="like-img" />
        </div>
    </div>

    <p class="post-comment">Comment</p>

</div>


