@model SozialWebApplication.Models.ViewModels.NameCardViewModel
@using (Html.BeginForm("SearchGroups", "Home", FormMethod.Post))
{
    <div class="searching">
        <input type="text" id="search" name="search" class="search" placeholder="Search ..." />
        <div class="button">
            <a href="SearchGroups"><input type="submit" value=" " name="submit" class="search-button" /></a>
        </div>
    </div>
}
@using (Html.BeginForm("AddNewGroup", "Home", FormMethod.Post))
{
    <div>
        <input type="text" id="newgroup-name" name="newgroup-name" class="newgroup-name" placeholder="Group name..." />
        <div class="button">
            <input type="submit" value="Create group" name="submit" class="addnewgroup-button" />
        </div>
    </div>
}

<div class="groups-lists">

    <div class="groups-labels">
        <h4 class="my-groups-label">My Groups</h4>
        <h4 class="all-groups-label">All Groups</h4>
        <h4 class="search-groups-label">Search results</h4>
    </div>

    <div class=" my-groups">
        <dl>
            @foreach (var item in Model.AllUserGroups)
            {
                if (item.GroupName != null)
                {
                    <dt class="my-groups-list">@Html.ActionLink(item.GroupName, "NewsfeedGroups", "Home", new { id = item.Id }, null) </dt>
                }
            }
        </dl>
    </div>

    <div class="all-groups">
        <dl>
            @foreach (var item in Model.AllGroups)
            {
                if (item.GroupName != null)
                {
                    <dt class="all-groups-list">@Html.ActionLink(item.GroupName, "NewsfeedGroups", "Home", new { id = item.Id }, null) </dt>
                }
            }
        </dl>
    </div>

    <div class="search-groups">
        <dl>
            @if (Model.SearchResultsGroups.Count() == 0)
            {
            }
            else
            {
                foreach (var item in Model.SearchResultsGroups)
                {
                    if (item.GroupName != null)
                    {
                        <dt class="search-groups-list">@Html.ActionLink(item.GroupName, "NewsfeedGroups", "Home", new { id = item.Id }, null) </dt>
                    }
                }
            }
        </dl>
    </div>

</div>
