<div class="searching">
    <input type="text" id="search" name="search" class="search" placeholder="Search ..." />
    <div class="button">
        <a href="Search"><input type="button" class="search-button" /></a>
    </div>
</div>
