@model SozialWebApplication.Models.ViewModels.NameCardViewModel

<div class="bc">
    @{
        ViewBag.Title = "Sozial";
    }

    <br />
    <div class="namecard-button">
        <a href="/Home/NewsfeedGroups/1">
            <img src="/Myndir/Logo.jpg" class="name-logo" alt="name-logo" />

        </a>
        <div class="my-name">
            @Html.ActionLink(@Html.ViewContext.HttpContext.User.Identity.Name, "OwnNameCard", "NameCards")
        </div>

        @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = "/Account/Login" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Log Out" class="logout-button" />
            </div>
        }

    </div>

    <br />

    <div class="overflowceeper">
        <div class="feed-body">
            <div class="edit-information">

                @using (Html.BeginForm("EditNameCard", "NameCards", FormMethod.Post))
                {
                    <div class="edit-input">
                        <label for="input-name" class="label">Name</label>
                        <input type="text" name="input-name" id="input-name" class="text-input" placeholder=@Html.DisplayFor(model => model.userWithId.FullName) />
                        
                        <label for="input-los" class="label">Line of study</label>
                        <input type="text" name="input-los" id="input-los" class="text-input" placeholder=@Html.DisplayFor(model => model.userWithId.LineOfStudy) />
                        
                        <label for="input-email" class="label">Email</label>
                        <input type="text" name="input-email" id="input-email" class="text-input" placeholder=@Html.DisplayFor(model => model.userWithId.Email) />

                        <label for="input-picture" class="label">Profile Picture</label>
                        <input type="text" name="input-picture" id="input-picture" class="text-input" placeholder="Copy image url here..." />
                    </div>

                    <input type="submit" value="Save" class="save" />
                    <a href="~/NameCards/OwnNameCard"><input type="button" value="Back" class="back" /></a>
                }
            </div>
        </div>
    </div>

    <br />

</div>