@model SozialWebApplication.Models.ViewModels.NameCardViewModel
<div>
    <div class="information">
        <img src="/Myndir/myndlogo.jpg" class="profile-picture" alt="profilepic">
        <p>@Html.DisplayFor(model => model.userWithId.FullName)</p>
        <p>@Html.DisplayFor(model => model.userWithId.LineOfStudy)</p>
        <p>@Html.DisplayFor(model => model.userWithId.Email)</p>
    </div>
    <input type="button" class="follow-others" />
    <input type="button" class="match-others" />
 </div>


    @using (Html.BeginForm("OthersNameCard", "NameCards", FormMethod.Post))
    {
            <input type="hidden" name="hidden-OthersUserName" value="@Model.userWithId.UserName"/>
        <div class="follow-others">
            <a href="OthersNameCard"><input type="submit" value="Follow"/></a>
        </div>
    }
