@model SozialWebApplication.Models.ViewModels.NameCardViewModel

<div class="namecard">
    <div class="information">
        <img src="/Myndir/myndlogo.jpg" class="profile-picture" alt="profilepic">
            <p>@Html.DisplayFor(model => model.userWithId.FullName)</p>
            <p>@Html.DisplayFor(model => model.userWithId.LineOfStudy)</p>
            <p>@Html.DisplayFor(model => model.userWithId.Email)</p>
    </div>
    <input type="button" class="follow" />
    <input type="button" class="groups" />
    <input type="button" class="edit" />
    <input type="button" class="match" />
</div>



<script>
    $(".follow").click(function () {
        event.preventDefault();

        $.ajax({
            url: "/NameCards/Search",
        }).success(function (data) {
            debugger;
            $(".feed-body").empty();
            $('.feed-body').html(data);
        });
    });

    $(".groups").click(function () {
        event.preventDefault();

        $.ajax({
            url: "/Home/SearchGroups",
        }).success(function (data) {
            debugger;
            $(".feed-body").empty();
            $('.feed-body').html(data);
        });
    });


    $(".edit").click(function () {
    /*alert("veiiii");*/
    event.preventDefault();

    $.ajax({
        url: "/NameCards/EditNameCard",
    }).success(function (data) {
        debugger;
        $(".feed-body").empty();
        $('.feed-body').html(data);
    });
    });

    $(".match").click(function () {
        event.preventDefault();

        $.ajax({
            url: "/NameCards/Search",
        }).success(function (data) {
            debugger;
            $(".feed-body").empty();
            $('.feed-body').html(data);
        });
    });

</script>