<div class="searching">
    <!--<form></form>-->
    <input type="text" id="search" name="search" class="search" placeholder="Search ..." />
    <div class="button">
        <input type="button" class="search-button" />
    </div>
</div>
