.bc{
    background: url('/Myndir/Background.jpg') center;
    background-size: 100%;
}

.namecard-button, .feed-body{
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 25px;
    height: 100px;
}
.name-logo{
    height: 80px;
    margin: 1%;
}

h3{
    display: inline;
    font-size: 66px;
    position: absolute;
    margin-left: 25%;
}

.my-name
{
    display: inline;
}
.my-name a
{
    text-decoration: none;
    font-size: 50px;
    color: black;
    font-weight: bold;
    margin-left: 32%;
    position:absolute;
    margin-top: 2%;
}

iframe{
    border: none;
    height: 325px;
    width: 1250px;
}

.feed-body{
    overflow-y: scroll;
    height: 415px;
}

.logout-button {
    border: none;
    width: 60px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    position: absolute;
    margin-left: 89%;
    margin-top: -8%;
}

