.bc
{
    background: url('/Myndir/Background.jpg') center;
    background-size: 100%;
}

.namecard-button, .feed-body
{
    background-color: white;
    height: 100px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 25px;
}

.namecard-button
{
    text-align: center;
}

.name-logo
{
    height: 80px;
    margin: 1%;
    margin-left: -1097px
}

h3
{
    display: inline;
    font-size: 66px;
    margin-left: 25%;
    position: absolute;
}

.my-name
{
    display: inline;
}

.my-name a
{
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-left: 414px;
    margin-top: 2%;
    position:absolute;
    text-decoration: none;
}



/*
.my-name a
{
   // text-decoration: none;
  //  font-size: 50px;
   // color: black;
  //  font-weight: bold;
   // margin-left: 38px;
  //  position:absolute;
    margin-top: 2%;
}*/


iframe
{
    border: none;
    height: 350px;
    width: 550px;
}

.feed-body
{
    height: 415px;
    overflow-y: scroll;
}

.logout-button
{
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 527px;
    margin-top: -8%;
    position: absolute;
    width: 60px;
}