.each-match
{
    margin-bottom: 2%;
}

.name-match 
{
    margin-top: -37px;
}

.name-match > a
{
    font-size: 20px;
    font-weight: bold;
}

.match-label
{
    margin-left: 45%;
}

.my-matches
{
    margin-left: 562px;
}

.my-matches-label
{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.profile-picture-match 
{
    border: 1px solid black;
    border-radius: 100px;
    height: 50px;
    margin-left: -65px;
    margin-top: 5px;
    width: 50px;
}