.information > p {
     font-size: 25px;
}
.information {
     font-weight: bold;
     margin-left: 42%;
     position: absolute;
     margin-top: 3%;
     text-align: center;
}

.namecard
{
    margin-top: 5%;
}

.profile-picture {
    margin-left: -332px;
    width: 190px;
    position: absolute;
}

.follow {
   margin-left: 67%;
   background-image: url('/Myndir/Followers.png');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 45px;
   height: 39px;
}

.edit {
   margin-top: 7%;
   margin-left: 28%;
   background-image: url('/Myndir/Edit.png');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 37px;
   height: 39px;
}

.match {
   margin-left: 36%;
   background-image: url('/Myndir/match.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 48px;
   height: 39px;
}

.groups {
   margin-left: 67%;
   margin-top: 6%;
   background-image: url('/Myndir/groups.png');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 50px;
   height: 39px;
}

.follow-others {
   margin-left: 67%;
   margin-top: 2%;
   background-image: url('/Myndir/AddFollower.png');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 51px;
   height: 39px;
}

.match-others {
   margin-left: 68%;
   margin-top: 16%;
   margin-bottom: 4%;
   background-image: url('/Myndir/match.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 48px;
   height: 39px;
}

.save {
  margin-top: 3%;
  margin-left: -25%;
  margin-bottom: 1%;
  border-radius: 4px;
  border-color: #faa61f;
  line-height: 25px;
  width: 70px;
  font-weight: bold;
  background-image: url('/Myndir/takkar.jpg');
}

.profile-picture-edit {
  margin-left: -42.5%;
  width: 190px;
  position: absolute;
}

.edit-information {
  margin-left: 44%;
  text-align: center;
  margin-top: 5%;
}

.edit-input {
  width: 36%;
  margin-top: 6%;
  margin-left: 10%;
}

.text-input {
  background-image: url('/Myndir/input.jpg');
  border: 1px solid #ffd600;
  border-radius: 4px;
  line-height: 25px;
  width: 259px;
  margin-right: 53px;
  margin-bottom: 9%;
}

.label {
  font-size: 20px;
  font-weight: bold;
}

.send-email > a:link{
  color: black;
  font-size: 25px;
}

.send-email > a:hover {
    text-decoration:underline;
    color: #ffd600;
}

.back {
    border-radius: 4px;
    border-color: #faa61f;
    line-height: 25px;
    width: 70px;
    font-weight: bold;
    background-image: url('/Myndir/takkar.jpg');
}
