.information > p {
     font-size: 25px;
}

.information {

    font-weight: bold;
    margin-left: 476px;
    position: absolute;
    padding-top: 6%;
    text-align: center;
}

.namecard
{
    margin-top: 2%;
}

.profile-picture {
    margin-left: -332px;
    width: 190px;
    position: absolute;
}

.follow {
   margin-left: 854px;
   background-image: url('/Myndir/Followers.png');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 45px;
   height: 39px;
}

.edit {
   margin-top: 334px;
   margin-left: 35px;
   background-image: url('/Myndir/Edit.png');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 37px;
   height: 39px;
   float: left;
}

.match {
  margin-left: 40px;
  background-image: url('/Myndir/MatchList.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  border: none;
  width: 48px;
  height: 39px;
}

.groups {
   margin-left: 48px;
   background-image: url('/Myndir/Groups.png');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
   width: 50px;
   height: 39px;
}

.follow-others, .unfollow-others {

   cursor: pointer;
   border: none;
}

.follow-others {
   background-image: url('/Myndir/AddFollower.png');
   background-repeat: no-repeat;
   background-size: 100%;
  width: 55px;
  height: 43px;
  margin-left: 66%;
  margin-top: 2.5%;
}

.unfollow-others {
   background-image: url('/Myndir/Unfollow.png');
   background-repeat: no-repeat;
   background-size: 100%;
   width: 52px;
   height: 47px;
  margin-left: 66.5%;
  margin-top: 2%;
}

.match-others {
  margin-left: 68%;
  margin-top: 16%;
  margin-bottom: 4%;
  background-image: url('/Myndir/Unmatch.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  border: none;
  width: 41px;
  height: 39px;
}

.unmatch-others {
   margin-left: 68%;
   margin-top: 16%;
   margin-bottom: 4%;
   background-image: url('/Myndir/Match.png');
   background-repeat: no-repeat;
   background-size: 100%;
   cursor: pointer;
   border: none;
  width: 44px;
  height: 40px;
}

.save {
  margin-left: 17%;
  border-radius: 4px;
  border-color: #faa61f;
  line-height: 25px;
  width: 70px;
  font-weight: bold;
  background-image: url('/Myndir/takkar.jpg');
}

.profile-picture-edit {
  margin-left: -42.5%;
  width: 190px;
  position: absolute;
}

.edit-information {
  margin-left: 34%;
  margin-top: 5%;
}

.edit-input {
  width: 36%;
  margin-top: 6%;
  margin-left: 10%;
}

.text-input {
  background-image: url('/Myndir/input.jpg');
  border: 1px solid #ffd600;
  border-radius: 4px;
  line-height: 25px;
  width: 259px;
  margin-right: 53px;
  margin-bottom: 9%;
}

.label {
  font-size: 20px;
  font-weight: bold;
}

.send-email > a:link{
  color: black;
  font-size: 25px;
}

.send-email > a:hover {
    text-decoration:underline;
    color: #ffd600;
}

.back {
    border-radius: 4px;
    border-color: #faa61f;
    line-height: 25px;
    width: 70px;
    font-weight: bold;
    background-image: url('/Myndir/takkar.jpg');
}

::-webkit-scrollbar{
    display: block;
}

.namecard img
{
    width: 250px;
    border-radius: 143px;
    border: 1px solid;
    margin-left: 40px;

}
