.newsfeed {
    margin-top: 6%;
  margin-left: 10%;
  /*border: 1px solid black;*/
  margin-right: 10%;
  height: 167px;

}

.newsfeed > p {
  font-size: 18px;
  font-weight: bold;
  margin-top: -5%;
  margin-left: 39%;
  float: left;
  width: 61px;
}

.groupName p{
  font-size: 22px;
  font-weight: bold;
  margin-left: 548px;
  margin-top: 20px;

}

.post-logo-settings {
  width: 460px;
  margin-left: 363px;
}

.input-text {
    background-image: url('/Myndir/TextLogo.png');
    background-size: 100%;
    width: 15%;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    margin-left: -228px;
}

.input-img {
  background-image: url('/Myndir/Mynd.png');
  background-size: 100%;
  width: 15%;
  height: 50px;
  background-repeat: no-repeat;
  margin-top: 2%;
  cursor: pointer;
  border: none;
  margin-left: 235px;
}

.input-youtube {
  background-image: url('/Myndir/Video.png');
  background-size: 100%;
  width: 15%;
  height: 50px;
  background-repeat: no-repeat;
  margin-top: -10%;
  cursor: pointer;
  border: none;
  margin-left: 239px;
}



.post-input {
  border: none;
  width: 221px;
  height: 102px;
  font-size: 16px;
  margin-left: 5%;
  text-align: center;
}

.post-submit {
  margin-left: 561px;
  margin-top: 1%;
  border-radius: 4px;
  border-color: #faa61f;
  line-height: 25px;
  width: 70px;
  font-weight: bold;
  background-image: url('/Myndir/takkar.jpg');
}

.all-posts {
  margin-left: 33%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.each-post {
  border: 1px solid #A8A8A8;
  margin-right: 13%;
  margin-left: -35%;
  padding-top: 2%;
}

.like-img {
  background-image: url(https://scontent-lhr.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10984151_10152737854342047_4597756465764730856_n.jpg?oh=efad8928292b2a614776c82d4860acfe&oe=55DF7DA4);
  border: none;
  margin-left: 92%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  margin-top: -5%;
  cursor: pointer;
}

.post-name {
  margin-left: -32%;
  margin-bottom: -4%;
  font-weight: bold;
}

.post-date {
  margin-left: 70%;
  margin-bottom: 0%;
  font-weight: bold;
}

.post-comment{
  margin-left: -32%;
  margin-top: 0%;
}

.number-of-likes {
  margin-left: 94%;
}

.comment {
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 2%;
}

.comment-input {

}

.whole-each-post {
    margin-bottom: 27%;
}

.post-content {
    width: 90%;
    margin-left: 2%;
}

.submit-comment {
 margin-left: 2%;
  margin-top: 1%;
  border-radius: 4px;
  border-color: #faa61f;
  line-height: 23px;
  width: 50px;
  font-weight: bold;
  background-image: url('/Myndir/takkar.jpg');
}

.comment-textarea {
  float: left;
  width: 92%;
  border: none;
  background-color: #FDEBB9;
  resize: none;
}

.CommentDisplay {
  height: 98px;
  width: 955px;
  margin-top: 1%;
  
}

.comment-form{
    background-color: #FDEBB9;
    padding: 1%;
}

.comment-info{
    display: inline;
}

.comment-post-date {
    margin-top: -3%;
    margin-left: 86%;
    font-weight: bold;
}

.comment-post-name{
    margin-left: 2%;
    font-weight: bold;
}
.photo-input{
    margin-left: 136px;
    border: none;
    height: 103px;
}

.video-input{
    margin-left: 165px;
    border: none;
    height: 103px;
}

.post-size-settings-photo{
    text-align: center;
}

.post-size-settings-photo img{
    width: 550px;
}

.post-size-settings-video{
    text-align: center;
}

.add-group {
  background-image: url('/Myndir/add-group.jpg');
  cursor: pointer;
  background-repeat: no-repeat;
  height: 24px;
  border: none;
  margin-left: 1010px;
  width: 160px;
  margin-top: 8px;

}

.remove-group {
  background-image: url('/Myndir/remove-group.jpg');
cursor: pointer;
  background-repeat: no-repeat;
  height: 24px;
  border: none;
  margin-left: 978px;
  width: 208px;
  margin-top: 8px;
}

.group-and-button {
    margin-bottom: 20px;
}

.post
{
    border: 1px solid #A8A8A8;
    margin-top: -50px;
}