/* Search bar*/

.search-button {
    background-image: url('/Myndir/search.jpg');
    border: none;
    background-repeat: no-repeat;
    background-size: 103%;
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 1%;
}

.searching {
    margin-top:1%;
    margin-left:38%;
}

.button {
  margin-left: 36%;
  margin-top: -12%;
  margin-bottom: 3%;
}

.search {
  text-align: center;
  font-weight: bold;
}

.back {
    border-radius: 4px;
    border-color: #faa61f;
    line-height: 25px;
    width: 70px;
    font-weight: bold;
    background-image: url('/Myndir/takkar.jpg');
}
/*Search followers and groups - display lists*/

.search-result-list, .all-groups-list, .my-groups-list, .search-results-list, .all-users-list, .my-friends-list {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a.visited {
    color: black;
}

/*Search groups */

.groups-lists {

}

.groups-labels {

}

.my-groups-label {
    margin-left: 13%;
    margin-top: 1%;
}

.all-groups-label {
    margin-left: 47%;
    margin-top: -3%;
}

.search-groups-label {
    margin-left: 79%;
    margin-top: -3%;
}

.my-groups {

}

.all-groups {

}

.search-groups {
 
}

.my-groups-list {
    margin-left: 30%;
}

.all-groups-list {
    margin-left: 43%;
}

.search-groups-list {
    margin-left: 60%;
}

/*Search followers*/

.users-lists {
}

.users-labels {

}

.my-friends-label {
    margin-left: 13%;
}

.all-users-label {
    margin-left: 47%;
    margin-top: -3%;
}

.search-users-label {
    margin-left: 79%;
    margin-top: -3%;
}

.my-friends-list {
    margin-left: 14%;
} 

.all-users-list {
    margin-left: 45%;
} 

.search-users-list {
    margin-left: 60%;
}

