/* GROUPS */

.add-and-search
{
    margin-top: 2%;
}

/* Add new group */

.adding-groups
{
    margin-right: 3%;
    text-align: center;
}

.addnewgroup-box
{
    background-image: url('/Myndir/InputBoxBackground.jpg');
    border: 1px solid #ffd600;
    border-radius: 4px;
    font-weight: bold;
    float: left;
    line-height: 25px;
    margin-left: 10%; 
    margin-top: 1%;
    text-align: center;
    width: 259px;
}

.addnewgroup-button
{
    background-image: url(/Myndir/ButtonBackground.jpg);
    background-repeat: no-repeat;
    border-color: #faa61f;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    line-height: 22px;
    margin-right: 58%;
    margin-top: 1%;
    width: 90px;
}

/* Search bar */

.adding-groups-button, .searching-groups-button
{
    margin-bottom: 3%;
    margin-left: -1%;
}

.searching-groups
{
    margin-right: 7%;
    margin-top: -5.5%;
    text-align: right;
}

.search-groups-box
{
    background-image: url('/Myndir/InputBoxBackground.jpg');
    border: 1px solid #ffd600;
    border-radius: 4px;
    float: left;    
    font-weight: bold;
    line-height: 26px;
    margin-left: 37%;
    text-align: center;
    width: 259px;
}

.search-groups-button
{
    background-image: url('/Myndir/SearchButton.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    cursor: pointer;
    height: 20px;
    margin-right: 3%;
    margin-top: 0.5%;
    width: 20px;
}

/* Groups */

.groups-labels
{
    text-decoration: underline;
} 

.groups-lists
{
    float: left;
    margin-top: 5%;
    width: 33%;
}

.my-groups-label, .all-groups-label, .search-groups-label
{
    font-size: 20px;
}

.my-groups-list, .all-groups-list, .search-groups-list
{
    text-align: center;
}

/* Search followers and groups - Display lists */

.search-groups-list, .all-groups-list, .my-groups-list, .search-users-list, .all-users-list, .my-friends-list
{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

/* FOLLOWERS */

/* Search bar */

.searching-users
{
    text-align: center;
    margin-right: 10%;
}

.search-users-box
{
    background-image: url('/Myndir/InputBoxBackground.jpg');
    border: 1px solid #ffd600;
    border-radius: 4px;
    line-height: 25px;
    width: 259px;
    text-align: center;
    font-weight: bold;
    margin-left: 12%;
    margin-top: 2%;
}

.searching-users-button
{
    margin-top: -2%;
}

.search-users-button
{
    background-image: url('/Myndir/SearchButton.jpg');
    border: none;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: -2.5%;
    margin-right: -40%;
}

/* Users */

.users-labels
{
    text-decoration: underline;
}

.users-lists
{
    margin-top: 5%;
    float: left;
    width: 33%;
}

.my-friends-label, .all-users-label, .search-users-label
{
    font-size: 20px;
}

.my-friends-list, .all-users-list, .search-users-list
{
    text-align: center;
} 