.search-button {
    background-image: url('/Myndir/search.jpg');
    border: none;
    background-repeat: no-repeat;
    background-size: 103%;
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 1%;
}

.searching {
    margin-top:1%;
    margin-left:38%;
}

.button {
  margin-left: 34%;
  margin-top: -12%;
  margin-bottom: 3%;
}

.search {
  text-align: center;
  font-weight: bold;
}

.back {
    border-radius: 4px;
    border-color: #faa61f;
    line-height: 25px;
    width: 70px;
    font-weight: bold;
    background-image: url('/Myndir/takkar.jpg');
}

.follow-list {
    text-decoration:none;
    text-decoration-color:black;
    margin-left:50%;
    font-weight:bold;
}

.search-groups-list {
    margin-left: 48%;
    text-decoration: none;
}

a:link {

}