*
{
    font-family: Calibri;
    font-size: 14px;
}

a:link, a:visited
{
    color: black;
    text-decoration: none;
}

.checkbox
{
    background: transparent;
    height: 19px;
    margin-left: -1%;
    position: absolute;
    width: 20px;
}

.checkbox-group
{
    margin-left: 63%;
    margin-top: 1%;
}

.checkbox-label {
    margin-left: 2%;
}

.front-logo
{
    height: 270px;
}

h2
{
    font-size: 30px;
}

.input
{
    background-image: url(/Myndir/InputBoxBackground.jpg);
    border: 1px solid #ffd600;
    border-radius: 4px;
    line-height: 25px;
    margin-right: 53px;
    width: 259px;
}

.login-group
{
    display: inline-flexbox;
    margin-left: 15%;
    margin-top: 5%;
}

.login-button,
.register-button
{
    background-image: url(/Myndir/ButtonBackground.jpg);
    border-color: #faa61f;
    border-radius: 4px;
    font-weight: bold;
    line-height: 25px;
    width: 70px;
}

.login-label,
.register-label
{
    font-weight:bold;
    width: 50px;
}

.logo
{
    margin-bottom: 7%;
    margin-left: 18%;
    margin-top: -25%;
}

.register
{
    height: 65px;
    width: 75px;
}

.register-button
{
    margin-top: 15px;
}

.register-group
{
    margin-left: 61%;
    margin-top: 6%;
}

.site-size, .bc
{
    min-width: 1254px;
}

ul
{
    list-style-type: none;
}

.validation-summary-errors
{
    color: #ff0000;
    font-weight: bold;
}