* {
    font-family: Calibri;
    font-size: 14px;
}

h2 {
    font-size: 30px;
}
.checkbox-group {
    margin-left: 63%;
    margin-top: 1%;
}

.checkbox {
    position: absolute;
    width: 20px;
    height: 19px;
    background: transparent;
    margin-left: -1%
}

.checkbox-label {
    margin-left: 2%;
}

.register-group {
    margin-left: 61%;
    margin-top: 6%;
}

.login-group {
   display: inline-flexbox;
   margin-left: 15%;
   margin-top: 5%;
}

.login-button,
.register-button {
  border-radius: 4px;
  border-color: #faa61f;
  line-height: 25px;
  width: 70px;
  font-weight: bold;
  background-image: url(/Myndir/takkar.jpg);
}

.register {
    height: 65px;
    width: 75px;
}

.login-label,
.register-label {
    width: 50px;
    font-weight:bold;
}

.input {
    background-image: url(/Myndir/input.jpg);
    border: 1px solid #ffd600;
    border-radius: 4px;
    line-height: 25px;
    width: 259px;
    margin-right: 53px;
}

.logo {
   margin-left: 18%;
   margin-top: -25%;
   margin-bottom: 7%;
}

.front-logo {
    height: 270px;
}

.register-button{
    margin-top: 15px;
}

.validation-summary-errors
{
    color: #ff0000;
    font-weight: bold;
}

ul
{
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}