<!--"at"model SozialWebApplication.Models.RegisterViewModel
"at"{
    ViewBag.Title = "Register";
}

<h2>"at"ViewBag.Title.</h2>

"at"using (Html.BeginForm("Register", "Account", FormMethod.Post, new { "at"class = "form-horizontal", role = "form" }))
{
    "at"Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    "at"Html.ValidationSummary()
    <div class="form-group">
        "at"Html.LabelFor(m => m.UserName, new { "at"class = "col-md-2 control-label" })
        <div class="col-md-10">
            "at"Html.TextBoxFor(m => m.UserName, new { "at"class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        "at"Html.LabelFor(m => m.Password, new { "at"class = "col-md-2 control-label" })
        <div class="col-md-10">
            "at"Html.PasswordFor(m => m.Password, new { "at"class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        "at"Html.LabelFor(m => m.ConfirmPassword, new { "at"class = "col-md-2 control-label" })
        <div class="col-md-10">
            "at"Html.PasswordFor(m => m.ConfirmPassword, new { "at"class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

"at"section Scripts {
    "at"Scripts.Render("~/bundles/jqueryval")
}-->

