<!--"att"model SozialWebApplication.Models.RegisterViewModel
"att"{
    ViewBag.Title = "Register";
}

<h2>"att"ViewBag.Title.</h2>

"att"using (Html.BeginForm("Register", "Account", FormMethod.Post, new { "att"class = "form-horizontal", role = "form" }))
{
    "att"Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    "att"Html.ValidationSummary()
    <div class="form-group">
        "att"Html.LabelFor(m => m.UserName, new { "att"class = "col-md-2 control-label" })
        <div class="col-md-10">
            "att"Html.TextBoxFor(m => m.UserName, new { "att"class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        "att"Html.LabelFor(m => m.Password, new { "att"class = "col-md-2 control-label" })
        <div class="col-md-10">
            "att"Html.PasswordFor(m => m.Password, new { "att"class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        "att"Html.LabelFor(m => m.ConfirmPassword, new { "att"class = "col-md-2 control-label" })
        <div class="col-md-10">
            "att"Html.PasswordFor(m => m.ConfirmPassword, new { "att"class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

"att"section Scripts {
    "att"Scripts.Render("~/bundles/jqueryval")
}
-->
